.background-green {
    background-color: green;
}

.background-red {
    background-color: red;
}

.smurf {
    height: 150px;
    width: 150px;
    background-color: blue;
    border-radius: 100%;
}